<li class="nav-item dropdown show">
    <a class="dropdown-toggle nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index" data-toggle="dropdown">Dashboard</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
        <div class="dropdown-divider"></div>
            </div>
</li>